* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.swiper-button-prev, .swiper-button-next{
    color: white !important;
}

