.productCard-container{
    width: 300px;

}

.productCard-content{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;
}


.productCard-img{
    width: 100%;

    aspect-ratio: 1/1;
    cursor: pointer;
}
.productCard-title{
    color:black;
    text-align: center;
    font-size: 30px;

    
}
.productCard-rating{
    font-size: 20px;
    color:black;
    text-align: center;
}
.productCard-price{
    font-size: 25px;
    color:black;
    text-align: center;
}