.revisado-pageContainer1{

    display: grid;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;

    background-color: black;
    height: auto;
    padding-bottom: 200px;
    margin-top: -60px;
    padding-top: 60px;
}