
.hero-pageContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 660px;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}


.hero-imgContainer{
    position: relative;
    width: 100%;
    max-width: 1000px;
}


.logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 30px auto;

    width: 90vw;
    max-width: 500px;
    


}

.sub1{
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: min(6vw,33px);
    font-weight: 600;

}
.sub2{
    position: absolute;
    left: 20px;
    top: 60%;
    font-size: 3vw;
    font-size: min(6vw,33px);
    font-weight: 600;
}

.buttonShop{
    position: absolute;
    left: 0;
    top: 67%;
    
    color:black;
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
    background-color: #38ED9A;
    height: 50px;
    width: 160px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.2s
}
.buttonShop:hover{
    background-color: rgba(56,237,154,0.3);
    background-opa: 0.5;
    color: white;
}



.hero-img{
    background: url('../../images/bg-main.jpg');
    width: 100%;
    max-width: 1000px;
    height: 1000px;
    max-height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;

}

/* ------------------ */

.shopContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 50px 0px;
    width: 100vw;
    background-color:#38ED9A;
    color: white;
}

.nuestroCatalogo{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
    width: 80%;
    text-align: center;

}

.buttonShopContainer{

    width: auto;
    color: white;
}

