.RevisadoContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 100vw;
    background-color: #38ED9A;
}



.test > h1{
        padding: 0px;
        margin: 0px;
        border:0;
        display:inline; 
}

.menuDiv{
    position: absolute;
    top: 15%;
    left: 5%;
    color: white;

}