.RevisadoContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 100vw;
    

    background-color: black;
}

.logo{
    width: 95vw;
    max-width: 400px;
}

.test > h1{
        padding: 0px;
        margin: 0px;
        border:0;
        display:inline; 
}
.title{
    text-align: center;
}

.menuDiv{
    position: absolute;
    top: 15%;
    left: 5%;
    color: white;

}