.Howtopost-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Howtopost-title{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 80vw;
    font-size: 3rem;
    font-weight: 500;
    max-width: 800px;
    padding: 100px;
}

.Howtopost-stepsContainer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 800px;
    gap: 20px;
}
.stepContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    text-align: center;

    max-width: 180px;

    height: 310px;

}
.stepContainer > h2{
    font-size: 22px;
    height: 40px;
}
.stepContainer > h3{
    font-size: 15px;
    height: 40px;
}
.stepContainer > h3 > button{
    font-size: 15px;
    color: #38ED9A;
    background-color: transparent;
    cursor: pointer;
}
.WsButton{
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    width: 120px;
    border-radius: 15px;
    color: black;
    background-color: #38ED9A;
}

