@import 'swiper/css';


.SwiperContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    padding: 50px 0;
    background-color: black;
}

.swip{
    width: 800px;
    height: 600px;

}

.sliderContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url('../../images/sliderDemo.png');
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center; 
}

.sliderContainer2{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 800px;
    padding: 0 10px;
}
.interior{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  black;
    width: 90%;
    height: 100%;
}

.brandModel{
    width: 340px;
    height: auto;


}
.brandModel> h1{
    color: white;
}
.brandModel> h3{
    color: white;
}
.detailsButton{
    cursor: pointer;
}

.caracs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.foto{
    height: 100%;
    width: 100%;
    background: url('../../images/iphone12.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; 

}

.detalleContainer{
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;


}

.fotoDetalle{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(205, 205, 205);
    border-radius: 50%;
    width: 100px;
    height: 100px;


}

.descripcionDetalle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    padding-right: 10px;
    width: 230px;
    text-align: ;
}

.detailsButtonContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.detailsButton{
    height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    width: 200px;
    border: none;
    background-color: #38ED9A;
    border-radius: 20px;
    transition: 300ms;
    cursor: pointer;
}
.detailsButton:hover{
    background-color: black;
    color: #38ED9A;
}


