

.confiarTitle{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    width: 90%;
    height: 150px;
    color: #ffffff;
}

@media (min-width: 700px){
.confiarContainer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    background-color: black;
}
.bolasContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 615px;

}

.bola1{
    position: absolute;
    top: 0px;
    right: 10px;

    font-size: 1.5rem;
    font-weight: 300;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 270px;
    width: 270px;
    background: url('../../images/detalle.png');
    background-size: cover;
    border-radius: 50%;

}
.bola2{
    position: absolute;
    bottom: 0;
    right: 40px;

    font-size: 1.5rem;
    font-weight: 300;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background: url('../../images/shipping.png');
    background-size: cover;
    border-radius: 50%;
}
.bola3{
    position: absolute;
    top: 100px;
    left: 0;

    font-size: 1.5rem;
    font-weight: 300;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 330px;
    width: 330px;
    background: url('../../images/details.png');
    background-size: cover;
    border-radius: 50%;
}
}

@media (max-width: 699px){
    .confiarContainer{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
        background-color: black;
    }
    .bolasContainer{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 100%;
        width: auto;
    }
    
    .bola1{
        display: flex;
        height: 200px;
        width: 200px;
        font-size: 1.5rem;
        font-weight: 300;

        justify-content: center;
        text-align: center;
        align-items: center;

        background: url('../../images/detalle.png');
        background-size: cover;
        border-radius: 50%;
    }
    .bola2{
        display: flex;
        height: 250px;
        width: 250px;

        font-size: 1.5rem;
        font-weight: 300;

        justify-content: center;
        text-align: center;
        align-items: center;

        background: url('../../images/shipping.png');
        background-size: cover;
        border-radius: 50%;
    }
    .bola3{
        display: flex;
        height: 270px;
        width: 270px;

        font-size: 1.5rem;
        font-weight: 300;

        justify-content: center;
        text-align: center;
        align-items: center;

        background: url('../../images/details.png');
        background-size: cover;
        border-radius: 50%;
    }

}